.myblock {
    display: block;
    width: 100%;
    height: 300px;
}




canvas {
    background-color: blue;
    width: 100%;
    height: auto;
}


myheight {
    height: "100";
}

body { background-color: black !important; }

blackbg { background-color: black; }
