<mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
    <mdb-carousel-item>
        <img src="https://raw.githubusercontent.com/jacobmott/ARTCubebrushARTSchoolTerm1/main/CASTLE.jpg" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
            <h5>ARTCubebrushARTSchoolTerm1 JacobMott github repo/project</h5>
            <p>Working through ARTSchool Term 1 Course on Cubebrush. In Progress!</p>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img src="https://user-images.githubusercontent.com/3318539/189046588-8a3450eb-2538-4028-af95-32a471c178ea.jpg" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
            <h5>ARTCubebrushARTSchoolTerm1 JacobMott github repo/project</h5>
            <p>Working through ARTSchool Term 1 Course on Cubebrush. In Progress!</p>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img src="https://user-images.githubusercontent.com/3318539/178659249-4ea9ca1b-9ea6-45c6-8dc6-cdd38d9150f7.png" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
            <h5>GameliftTest JacobMott github repo/project</h5>
            <p>Working through youtube tutorial for aws Gamelift and Unreal. Finished! </p>
        </div>
    </mdb-carousel-item>
</mdb-carousel>